*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background-image: url("/hatter.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.Home{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5vh auto 0vh;
    scale: 0.8;
    width: 100vw;
    height: 80vh;
}

.Home .send{
    position: absolute;
    top: 80vh;
    width: 50vw;
    left: 34vw;
    display: flex;
}

.Home .uzenetbox{
    width: 45vw;
    height: 5vh;
    display: flex;
    padding: 1.3vh 1vh 0vh 1vh;
    font-size: large;
    resize: none;
}
.Home .uzenetgomb{
    width: 5vw;
    font-size: larger;
}
.Home .admin{
    position: absolute;
    left: 9vw;
    bottom: -28vh;
}

.Home .login, .login{
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}

.Home .uzenetek{
    height: 80vh;
    max-height: 80vh;
    overflow-y: auto;
    scrollbar-width: none;
    width: 50vw;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    position: relative;
    border: 2px inset lightgrey;
    border-radius: 5px 5px 0px 0px;
    background: #fcfcfc;
    margin-left: 18vw;
}
.Home .emberek{
    height: 70vh;
    width: 14vw;
    position: absolute;
    left: 13vw;
    border: 2px inset lightgrey;
    border-radius: 5px 5px 0px 0px;
    background: #fcfcfc;
}
.emberekbelso{
    border: 3px outset lightgrey;
    height: 58vh;
    max-height: 58vh;
    overflow-y: scroll;
    scrollbar-width: none;
    padding: 0.2vh;
    margin: 0vh 1vh;
}

.Home .tolem{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding-right: 0.5vw;
}

.Home .nemtolem{
    text-align: left;
    display: flex;
    flex-direction: column;
    padding-left: 0.5vw;
}
.Home .uzenetnev{
    font-size: larger;
    font-weight: bold;
    margin-bottom: 1vh;
}

.Home .uzenetdatum{
    margin-top: 1vh;
    font-size: small;
}

.Home .nemtolem .uzenetuzenet{
    font-size: large;
    max-width: 30vw;
    width: fit-content;
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    display: flex;
    flex-direction: column;
    background-color: rgb(235, 235, 235);

    padding: 1vh;
    border-radius: 10px;
}
.Home .tolem .uzenetuzenet{
    font-size: large;
    max-width: 30vw;
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: rgb(235, 235, 235);

    padding: 1vh;
    border-radius: 10px;
}

.emberke{
    height: 4vh;
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: rgb(235, 235, 235);
    margin: 0.5vh 0vh;
}
.emberke:hover{
    background-color: rgb(218, 218, 218);
}

.profilkep{
    max-width: 4vh;
    max-height: 4vh;
    min-height: 4vh;
    min-width: 4vh;
    margin-right: 0.5vw;
    border: 2px lightgrey outset;
}
.chat-image {
  max-width: 250px;
  display: block;
  margin: 5px 0;
  border-radius: 8px;
}

.profil{
    width: 60vw;
    height: 80vh;
    margin: 5vh auto;
    padding-top: 5vh;
}

.urlap{
    height: 30vh;
    width: 15vw;
    margin: 12vh auto;
    border: 2px inset lightgrey;
    border-radius: 5px 5px 0px 0px;
    background: #fcfcfc;
}
.urlapbelso{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2vh;
}

.urlap input{
    width: 12vw;
    height: 3vh;
    margin-top: 0.6vh;
    border: 2px inset lightgrey;
}
.urlap button{
    border: 2px inset lightgrey;
    background: #ececec;
    width: 12vw;
    height: 3vh;
    margin-bottom: 1vh;
    margin-top: 1vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vh;
}
.urlap button:hover{
    cursor: pointer;
    background: #e0e0e0;
}

.signup{
    height: 30vh;
    width: 15vw;
    margin: 12vh auto;
    border: 2px inset lightgrey;
    border-radius: 5px 5px 0px 0px;
    background: #fcfcfc;
}
.signupbelso{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2vh;
}

.signup input{
    width: 12vw;
    height: 3vh;
    margin-top: 0.6vh;
    border: 2px inset lightgrey;
}
.signup button{
    border: 2px inset lightgrey;
    background: #ececec;
    width: 12vw;
    height: 3vh;
    margin-bottom: 1vh;
    margin-top: 1vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vh;
}
.signup button:hover{
    cursor: pointer;
    background: #e0e0e0;
}

.kikapcs{
    
}

.en{
    margin-bottom: 1vh;
    font-size: 1.6vh;
    padding: 4vh 1vh;
    /* border: 1px solid red; */
    height: 6vh;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.en .profilkep{
    max-height: 6vh;
    max-height: 6vh;
    min-height: 6vh;
    min-width: 6vh;
}

.headline{
    background: #abd6c0;
    padding: 0.2vh;
    position: sticky;
    top: 0;
    z-index: 10;
}
.iksz{
    background: rgb(255, 77, 33);
    color: white;
    width: 1.5vh;
    height: 1.5vh;
    text-align: center;
    float: right;
    border: 1px solid;
    cursor: pointer;
}

.admingomb{
    background: rgb(255, 98, 59);
    border-radius: 35%;
    font-size: large;
    width: 4vh;
    height: 4vh;
    cursor: pointer;
    color: white;
    border: 5px outset black;
}

.adminfelulet{
    position: absolute;
    top: 8vh;
    left: 20vw;
    border: 2px inset lightgrey;
    border-radius: 5px 5px 0px 0px;
    background: #fcfcfc;
}
.felhasznalok{
    padding: 2vh;
}

.info{
    border: 2px inset lightgrey;
    border-radius: 5px 5px 0px 0px;
    background: #fcfcfc;
    margin-top: 5vh;
    width: 40vw;
}
.infobelso{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 1vh;
    padding-bottom: 1vh;
}
.vbox{
    display: flex;
    flex-direction: row;
    gap: 2vh;
}
.hbox{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 3vh;
    padding-top: 2vh;
}
.infokep{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vh;
}
.bio{
    resize: none;
    width: 15vw;
    height: 8vh;
}
.infokep .profilkep{
    max-width: 6vh;
    max-height: 6vh;
    min-height: 6vh;
    min-width: 6vh;
}
.mentes{
    border: 2px inset lightgrey;
    background: #ececec;
    width: 8vw;
    height: 3vh;
    margin-bottom: 1vh;
    margin-top: 1vh;
}
.mentes:hover{
    cursor: pointer;
    background: #e0e0e0;
}
.logout{
    border: 3px inset black;
    background: rgb(255, 77, 33);
    width: 8vw;
    height: 3vh;
    margin-bottom: 1vh;
    color: white;
}
.logout:hover{
    cursor: pointer;
    background: rgb(223, 67, 29);
}

.googleicon{
    width: 2vh;
    height: 2vh;
}

.bannedWindow{
    border: 2px inset lightgrey;
    border-radius: 5px 5px 0px 0px;
    background: #fcfcfc;
    width: 15vw;
    height: 8vh;
}
.bannedbelso{
    padding: 1vh;
}

.nincsbej{
    position: absolute;
    top: 40vh;
    left: 40vw;
}
.nincsbejbelso{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vh;
}
.bejicon{
    cursor: pointer;
}
.hozzaadas{
    font-size: 6vh;
    cursor: pointer;
    margin: 0vh auto;
    width: fit-content;
}

.addnew{
    border: 2px inset lightgrey;
    border-radius: 5px 5px 0px 0px;
    background: #fcfcfc;
    width: 10vw;
    height: 50vh;
    max-height: 50vh;
    position: absolute;
    top: 20vh;
    left: 40vw;
}

.addnewbelso{
    border: 3px outset lightgrey;
    height: 45vh;
    max-height: 45vh;
    overflow-y: scroll;
    scrollbar-width: none;
    padding: 0.2vh;
    margin: 1vh 1vh 0vh 1vh;
}

.homeprof{
    width: 30vw;
    height: 20vh;
    position: absolute;
    top: 5vh;
    left: 50vw;
}

.homeprof .infokep{
    margin-top: 3vh;
    margin-left: 2vh;
}

.errormessage{
    border: 2px inset lightgrey;
    border-radius: 5px 5px 0px 0px;
    background: #fcfcfc;
    width: 15vw;
    height: fit-content;
    position: absolute;
    top: 10vh;
    left: 45vw;
    z-index: 100;
}
.errorbelso{
    padding: 1vh;
}