*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.Home .login{
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}

.Home .uzenetek{
    border: 3px solid;
    border-radius: 5px;
    height: 80vh;
    width: 50vw;
    margin: 5vh auto;
}