*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Home{
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-left: 50px;
    margin-right: 50px;
}

.Home .send{
    position: absolute;
    bottom: 30px;
    left: 200px;
}
.Home .admin{
    position: absolute;
    bottom: 30px;
    left: 100px;
}

.Home .login, .login{
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}

.Home .uzenetek{
    border: 3px solid;
    border-radius: 5px;
    height: 80vh;
    width: 50vw;
    margin: 5vh auto;
}

.Home .tolem{
    display: flex;
    justify-content: flex-end;
}

.Home .nemtolem{
    text-align: left;
}

.profilkep{
    max-width: 50px;
    max-height: 50px;
}
.chat-image {
  max-width: 250px;
  display: block;
  margin: 5px 0;
  border-radius: 8px;
}