*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background-image: url("hatter.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.Home{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5vh;
    scale: 0.8;
}

.Home .send{
    position: absolute;
    top: 80vh;
    width: 50vw;
    left: 34vw;
    display: flex;
}

.Home .uzenetbox{
    width: 45vw;
    height: 5vh;
    display: flex;
    padding: 1.3vh 1vh 0vh 1vh;
    font-size: large;
    resize: none;
}
.Home .uzenetgomb{
    width: 5vw;
    font-size: larger;
}
.Home .admin{
    position: absolute;
    left: 9vw;
    bottom: -25vh;
}

.Home .login, .login{
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}

.Home .uzenetek{
    height: 80vh;
    max-height: 80vh;
    overflow-y: auto;
    scrollbar-width: none;
    width: 50vw;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    position: relative;
    border: 2px inset lightgrey;
    border-radius: 5px 5px 0px 0px;
    background: #fcfcfc;
}
.Home .emberek{
    height: 70vh;
    width: 14vw;
    margin-right: 4vw;
    border: 2px inset lightgrey;
    border-radius: 5px 5px 0px 0px;
    background: #fcfcfc;
}
.emberekbelso{
    border: 3px outset lightgrey;
    height: 58vh;
    max-height: 58vh;
    overflow-y: scroll;
    scrollbar-width: none;
    padding: 0.2vh;
    margin: 0vh 1vh;
}

.Home .tolem{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding-right: 0.5vw;
}

.Home .nemtolem{
    text-align: left;
    display: flex;
    flex-direction: column;
    padding-left: 0.5vw;
}
.Home .uzenetnev{
    font-size: larger;
    font-weight: bold;
    margin-bottom: 1vh;
}

.Home .uzenetdatum{
    margin-top: 1vh;
    font-size: small;
}

.Home .nemtolem .uzenetuzenet{
    font-size: large;
    max-width: 30vw;
    width: fit-content;
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    display: flex;
    flex-direction: column;
    background-color: rgb(235, 235, 235);

    padding: 1vh;
    border-radius: 10px;
}
.Home .tolem .uzenetuzenet{
    font-size: large;
    max-width: 30vw;
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: rgb(235, 235, 235);

    padding: 1vh;
    border-radius: 10px;
}

.Home .emberke{
    height: 4vh;
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: rgb(235, 235, 235);
    margin: 0.5vh 0vh;
}
.Home .emberke:hover{
    background-color: rgb(218, 218, 218);
}

.profilkep{
    max-width: 4vw;
    max-height: 4vh;
    margin-right: 0.5vw;
    border: 2px lightgrey outset;
}
.chat-image {
  max-width: 250px;
  display: block;
  margin: 5px 0;
  border-radius: 8px;
}

.profil{
    border: 1px solid;
    width: 60vw;
    height: 80vh;
    margin: 5vh auto;
}

.urlap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20vh;
}

.urlap input{
    width: 12vw;
    height: 3vh;
    margin-top: 0.6vh;
}
.urlap button{
    margin-top: 1.5vh;
    width: 12vw;
    height: 3vh;
}

.signup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20vh;
}

.signup input{
    width: 12vw;
    height: 3vh;
    margin-top: 0.6vh;
}
.signup button{
    margin-top: 1.5vh;
    width: 12vw;
    height: 3vh;
}

.info{
    border: 1px solid;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.kikapcs{
    
}

.en{
    margin-bottom: 1vh;
    font-size: 1.6vh;
    padding: 4vh 1vh;
    /* border: 1px solid red; */
    height: 6vh;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.en .profilkep{
    max-height: 6vw;
    max-height: 6vh;
}

.headline{
    background: #abd6c0;
    padding: 0.2vh;
    position: sticky;
    top: 0;
    z-index: 10;
}
.iksz{
    background: rgb(255, 77, 33);
    color: white;
    width: 1.5vh;
    height: 1.5vh;
    text-align: center;
    float: right;
    border: 1px solid;
    cursor: pointer;
}

.admingomb{
    background: rgb(255, 98, 59);
    border-radius: 35%;
    font-size: large;
    width: 4vh;
    height: 4vh;
    cursor: pointer;
    color: white;
    border: 5px outset black;
}

.adminfelulet{
    position: absolute;
    top: 8vh;
    left: 20vw;
    border: 2px inset lightgrey;
    border-radius: 5px 5px 0px 0px;
    background: #fcfcfc;
}
.felhasznalok{
    padding: 2vh;
}